
body {
    margin-top: 100px;
    background-color: lightgrey;
}

#app {
    width: 56%;
    height: 425px;
    margin: auto;
    border-radius: 1%;
    background-color: darkkhaki;

}

#list {
    width: 27%;
    height: 400px;
    background-color: ghostwhite;
    color: #4d4d00;
    position: relative;
    float: left;
    border-radius: 1%;
    margin: 10px 10px 10px 10px;
    box-shadow: 1px 1px 13px #4d4d00;
}

#details {
    width: 40%;
    height: 400px;
    background-color: #4d4d00;
    color: ghostwhite;
    position: relative;
    float: left;
    border-radius: 1%;
    margin: 10px 10px 10px 10px;
    box-shadow:  1px 1px 13px #4d4d00;

}

#addNew {
    width: 27%;
    height: 400px;
    background-color: ghostwhite;
    color: #4d4d00;
    position: relative;
    float: left;
    border-radius: 1%;
    margin: 10px 10px 10px 10px;
    display: inline;
    box-shadow:  1px 1px 13px #4d4d00;

}

#addNew input{
    width: 80%;
    margin: 10px 10px;
    background-color: azure;
}

#addNew button{
    width: 50%;
    margin: 10px 10px;
    background-color: lightgrey;
}

h4 {
    margin-left: 20px;
}

.h1 {
    width: 55%;
    height: 100px;
    text-align: center;
    border-radius: 1%;
    background-color: darkkhaki;
    font-family: Vollkorn serif;
    color: white;
    margin:10px auto;
    padding-top: 10px;

}

.detailatts {
    margin: 23px;
}

.Details {
    text-decoration: underline;

}