
body {
    margin-top: 100px;
    background-color: lightgrey;
}

#app {
    width: 70%;
    height: 300px;
    margin: auto;
    border-radius: 3%;
}

#list {
    width: 25%;
    height: 300px;
    background-color: gold;
    position: relative;
    float: left;
    border-radius: 3%;
    margin: 10px 10px 10px 5px;
}

#details {
    width: 40%;
    height: 300px;
    background-color: goldenrod;
    position: relative;
    float: left;
    border-radius: 3%;
    margin: 10px 10px 10px 5px;
}

#addNew {
    width: 20%;
    height: 300px;
    background-color: darkorange;
    position: relative;
    float: left;
    border-radius: 3%;
    margin: 10px 10px 10px 5px;
    display: inline;
}

#addNew input{
    width: 80%;
    margin: 10px 10px;
    background-color: azure;
}

#addNew button{
    width: 50%;
    margin: 10px 10px;
    background-color: lightgrey;
}