
<input title="name" id="name" type="text" value="{{name}}">
<input title="firstName" id="firstName" type="text" value="{{firstName}}">
<input title="email" id="email" type="text" value="{{email}}">
<input title="job" id="job" type="text" value="{{job}}">
<button id="add">Add New</button>

