<form id="form">
<input title="firstName" id="firstName" type="text" placeholder="Vorname" autofocus>
<input title="name" id="name" type="text" placeholder="Name">
<input title="tel" id="tel" type="number" placeholder="Telefon">
<input title="ranking" id="ranking" type="text" placeholder="Ranking">
<input title="email" id="email" type="email" placeholder="Email">
<input title="job" id="job" type="text" placeholder="Job">
</form>
<button form="form" value="Submit" id="add">Add</button>

