<form id="form">
<input title="id" id="id" type="id" placeholder="id (Pflichtfeld, ganze Zahl)" autofocus value="">
<input title="firstName" id="firstName" type="text" placeholder="Vorname (Pflichtfeld)" autofocus value="">
<input title="name" id="name" type="text" placeholder="Name (Pflichtfeld)" value="">
<input title="tel" id="tel" type="number" placeholder="Telefon (Pflichtfeld)" value="">
<input title="email" id="email" type="email" placeholder="Email" value="">
</form>
<button form="form" value="Submit" id="add">Add</button>

<button form="form" value="Submit" id="deleteContact">Delete Contact</button>