
<ul>
    <p><strong>Name:</strong></p>
<li id="name">{{name}}</li>
    <p><strong>Vorname:</strong></p>
<li id="firstName">{{firstName}}</li>
    <p><strong>Email:</strong></p>
<li id="email">{{email}}</li>
    <p><strong>Job:</strong></p>
<li id="job">{{job}}</li>
</ul>

